:root {
    --bg-dark: #000000;
    --bg-secondary: #11281d;
    --accent: #119c42;
    --accent-hover: #17a44a;
    --text-light: #f5f5f5;
    --text-muted: #b5c9bd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: var(--bg-dark);
    color: var(--text-light);
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: var(--bg-secondary);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.contain {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.logo {
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    color: var(--accent);
}

.logo-img {
    height: 60px;
    margin-left: 0.1rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav li {
    transition: 0.3s;
}

nav li:hover {
    transform: translateY(-5px);
}

nav a {
    font: bolder;;
    font-size: 20px;
    margin-right: 1.5rem;
    text-decoration: none;
    color: var(--text-muted);
    transition: 0.5s;
}

nav a:hover{
    color: var(--accent);
}

.btn-primary {
    background: var(--accent);
    color: #fff;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s ease;
    font-weight: 500;
}

.btn-primary:hover {
    background: var(--accent-hover);
    transform: translateY(-2px);
}

.btn-primary.large {
    padding: 0.9rem 1.6rem;
    font-size: 1.1rem;
}

.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)),
        url('../assets/landingbg.png') center/cover no-repeat;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    color: var(--text-muted);
    margin-bottom: 2rem;
}

.features {
    padding: 5rem 8%;
    text-align: center;
}

.features p {
    font-size: 1.1rem;
    color: var(--text-muted);
}

h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
}

.feature-grid h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--accent);
}

.feature-card {
    background: var(--bg-secondary);
    padding: 2rem;
    border-radius: 10px;
    transition: 0.3s;
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.how-it-works {
    padding: 4rem 8%;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.92)),
        url('../assets/bg.jpg') center/cover no-repeat;
}

.steps {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin-top: 2rem;
    perspective: 1000px;
}

.step1, .step2, .step3, .step4 {
    width: 18rem;
    min-height: 20%;
    background: linear-gradient(to top right, rgba(0, 0, 0, 0.457), rgba(60, 60, 60, 0.977));
    padding: 1rem 2rem;
    border-radius: 8px;
    transform-style: preserve-3d;
    transition: transform 0.1s ease;
}

.step1 p, .step2 p, .step3 p, .step4 p {
    color: var(--text-muted);
    font-size: 15px;
    margin-top: 0.5rem;
}

.step h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: var(--accent);
}

.step2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.3s ease;
}
.step3 img{
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.3s ease;
    animation: float 2s ease-in-out infinite;
    animation-play-state: paused;
}
.step4 img{
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.3s ease;
    animation: fall 1.5s linear infinite;
    animation-play-state: paused;
}

.step1 img{
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.3s ease-in-out;
    animation: clicking 1.5s linear infinite;
    animation-play-state: paused;
}

.step2 img{
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.3s ease-in-out;
    animation: driving 1.5s linear infinite;
    animation-play-state: paused;
}

@keyframes fall {
    0% { transform: rotate(0); }
    15% { transform: rotate(20deg); }
    25% { transform: rotate(10deg); }
    35% { transform: rotate(20deg); }
    50% { transform: rotate(0); }
    100% { transform: rotate(0); }
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-25px); }
    100% { transform: translateY(0); }
}

@keyframes clicking {
    0% { transform: scale(1); }
    10% { transform: scale(1.2); }
    15% { transform: scale(1); }
    100% { transform: scale(1); }
}

@keyframes driving {
    0% { transform: translateX(0) }
    20% { transform: translateX(-10px) rotate(-20deg) translateY(-10px); }
    50% { transform: translateX(20px) rotate(-20deg) translateY(-10px); }
    70% { transform: translateX(-10px) rotate(-20deg) translateY(-10px); }
    100% { transform: translateX(0) }
}

.step1:hover {
    transform: scale(1.1) translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
.step1 img:hover {
    animation-play-state: running;
}
.step2:hover {
    transform: rotate(20deg) translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
.step2 img:hover {

    animation-play-state: running;
}
.step3:hover {
    transform: translateY(5px);
}
.step3 img:hover {
    animation-play-state: running;
}
.step4:hover {
    transform: translateY(5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
.step4 img:hover {
    animation-play-state: running;
}

.cta {
    padding: 4rem 8%;
    text-align: center;
}

.cta h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.cta p {
    font-weight: bolder;
    color: var(--text-muted);
    margin-top: 2rem;
    font-size: 1.1rem;
}

.cta a {
    margin-top: 1rem;
}

#contact {
  background-color: #1a1a1a;
  color: #fff;
  padding: 50px 20px; 
  text-align: center;
  font-size: 18px;
  line-height: 1.8;
}

#contact {
  background-color: #1a1a1a;
  color: #fff;
  padding: 50px 20px;
  text-align: center;
  font-size: 18px;
  line-height: 1.8;
}

#contact a {
  color: #00ff99;
  text-decoration: none;
  font-weight: bold;
}

#contact a:hover {
  text-decoration: underline;
}

.contact-info p,
.social-links a {
  margin: 10px 0;
  display: block;
}

.social-links {
  margin-top: 20px;
  font-size: 20px;
}

.sponsors {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
  flex-wrap: wrap; 
}

.sponsor-group h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #00ff99;
}

.sponsor-group ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sponsor-group ul li {
  margin: 5px 0;
  font-size: 16px;
}

@media(max-width: 768px) {
    .hero h1 {
        font-size: 2.2rem;
    }

    nav ul {
        display: none;
    }
}