* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

body {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(#11803a, #11803a);
    display: flex;
    justify-content: center;
    align-items: center;
}

body::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../assets/styles (2).png") no-repeat center center/cover;
    opacity: 0.7;
    z-index: -1;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.logo-img {
    width: 150px;
}

/* Dark overlay */
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 0;
}

.login-container {
    position: relative;
    z-index: 1;
    background: #d9d9d9;
    width: 350px;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.login-container h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

.input-box {
    margin-bottom: 15px;
    text-align: left;
    transition: all 0.3s ease-in-out;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    background: #f0f0f0;
}

.input-box input:focus, .input-box input:hover{
    transform: scale(1.0s);
    box-shadow:  #04ff00;
}

.forgot {
    font-size: 12px;
    color: red;
    margin-bottom: 15px;
    cursor: pointer;
}

.btn {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: #11803a;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.3s;
}

.btn:hover {
    background: #333;
}

.create-account {
    font-size: 12px;
    margin: 10px 0;
}

.create-account .create-btn{
    background-color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.create-account button {
    background: black;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.social-login {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    gap: 10px;
}

.social-login img {
    width: 2rem;
    cursor: pointer;
}

.social-login .img1{
    width: 3rem;
}

.social-login .img2 {
    width: 3rem;
}

.social-login .img3 {
    width: 3rem;
}

.social-login .img4 {
    width: 3rem;
}


