* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: crossfade 25s linear infinite;
}

.bg1 { background-image: url("../assets/seat1.jpg"); animation-delay: 0s; }
.bg2 { background-image: url("../assets/seat2.png"); animation-delay: 5s; }
.bg3 { background-image: url("../assets/seat3.jpg"); animation-delay: 10s; }
.bg4 { background-image: url("../assets/seat6.jpg"); animation-delay: 15s; }
.bg5 { background-image: url("../assets/seat5.jpg"); animation-delay: 20s; }

@keyframes crossfade {
  0%   { opacity: 0; }
  4%   { opacity: 1; }
  20%  { opacity: 1; }
  24%  { opacity: 0; }
  100% { opacity: 0; }
}

body::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../assets/hahaha.jpg") no-repeat center center/cover;
    opacity: 0.7;
    z-index: -1;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.logo-img {
    width: 13rem;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 0;
}

.register-container {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.10) ;
    width: 350px;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.login-container {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.10) ;
    width: 350px;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    perspective: 1000px;
}

.login-container h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

.input-box {
    margin-bottom: 15px;
    text-align: left;
    transition: all 0.3s ease-in-out;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    background: #f0f0f0;
}

.input-box input:focus, .input-box input:hover{
    transform: scale(1.0s);
    box-shadow:  #04ff00;
}

.forgot {
    font-size: 12px;
    color: red;
    margin-bottom: 15px;
    cursor: pointer;
}

.btn {
    padding: 12px 24px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    width: 18rem;

    background: linear-gradient(
        45deg,
        rgb(16, 53, 15),
        rgba(44, 95, 10, 0.742),
        rgb(73, 147, 8),
        rgb(72, 205, 10)
    );

    background-size: 300% 300%;
    background-position: left center;

    transition: background-position 0.6s ease-in-out,
                transform 0.2s ease,
                box-shadow 0.2s ease;
}

.btn:hover {
    background-position: right center;
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.create-account {
    font-size: 12px;
    margin: 10px 0;
}

.create-account .create-btn{
    background-color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.create-account button {
    background: black;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.social-login, .social-register {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    gap: 10px;
}

.social-login img, .social-register img {
    width: 4rem;
}

.social-login .img1, .social-register .img1{
    width: 3.4rem;
}

.social-login .img2, .social-register .img2{
    width: 3rem;
}

.social-login .img3, .social-register .img3 {
    width: 3rem;
}

.social-login .img4, .social-register .img4 {
    width: 3rem;
}

.hidden {
    display: none;
}

.name{
    padding-top: 1rem;
}

.name input[type="text"] {
    width: 8.9rem;
    gap: 10px;
}

