{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard.css') }}">
    <title>LUMA - User Dashboard</title>
{% endblock %}

{% block body %}
<header class="navbar">
    <div class="logo">LUMA</div>
    <nav class="nav-links">
        <a href="#" class="active">HOME</a>
        <a href="#">ORDER</a>
        <a href="about">ABOUT</a>
        <a href="#">LIBRARIES</a>
        <a href="#">MOST RATED</a>
        <a href="#">MOST WATCHED</a>
        <a href="settings">SETTINGS</a>
    </nav>
    <div class="profile">L</div>
</header>

<main class="container">
    <div class="search-wrapper">
        <input type="text" placeholder="SEARCH . . .">
        <span class="search-icon">🔍</span>
    </div>

    <h2 class="section-title">MOST WATCHED</h2>

    <div class="movie-grid">
        {% for movie in movies %}
        <div class="movie-card">
            <img src="{{ url_for('static', filename='uploads/' + movie.movie_image.split('/')[-1]) }}" class="poster">
            
            <div class="movie-info">
                <h3>{{ movie.movie_name }}</h3>
                <p class="description">{{ movie.description }}</p>
            </div>

            <button type="button" class="details-btn">SEE MORE</button>
        </div>
        {% endfor %}
    </div>
</main>

<script src="{{ url_for('static', filename='js/user_dashboard.js') }}"></script>
{% endblock %}